@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-gradient-custom {
    background: linear-gradient(-90deg, rgba(2,0,38,1) 0%, rgba(9,9,80,4) 46%, rgba(0,212,200,5) 100%);
  }

input{
    text-transform: capitalize;
}
textarea{
    text-transform: capitalize;
}